# ETL Trabalho Conclusão de Curso - Otto Group Product Classification Challenge

In [5]:
import pandas as pd
from constants.constants import (
    TEST_FILE_CSV_PATH,
)

In [8]:
otto_test_df = pd.read_json("./data/OTTO/otto-recsys-train.jsonl", lines=True)

In [9]:
pd.set_option("display.width", 500)
otto_test_df.head()

    session                                             events
0  12899779  [{'aid': 59625, 'ts': 1661724000278, 'type': '...
1  12899780  [{'aid': 1142000, 'ts': 1661724000378, 'type':...
2  12899781  [{'aid': 141736, 'ts': 1661724000559, 'type': ...
3  12899782  [{'aid': 1669402, 'ts': 1661724000568, 'type':...
4  12899783  [{'aid': 255297, 'ts': 1661724000572, 'type': ...

In [10]:
from etl.otto_dataset_etl  import OttoDatasetEtl

otto_dataset_etl = OttoDatasetEtl(otto_test_df)
otto_dataset_etl.transform(drop_original_events=True)

# otto_dataset_etl.dataset.head()

    session                                      sorted_events                                      items_clicked                                       items_carted                                      items_ordered
0  12899779  [{'aid': 59625, 'ts': 1661724000278, 'type': '...                                    [59625, 875854]                                                 []                                                 []
1  12899780  [{'aid': 1142000, 'ts': 1661724000378, 'type':...  [1142000, 582732, 973453, 736515, 1142000, 260...                                                 []                                                 []
2  12899781  [{'aid': 141736, 'ts': 1661724000559, 'type': ...  [141736, 199008, 57315, 194067, 199008, 199008...                                   [199008, 918667]                                                 []
3  12899782  [{'aid': 1669402, 'ts': 1661724000568, 'type':...  [1669402, 1494780, 1494780, 1494780, 1674681, ...  [1494780, 413962, 779477, 562753, 476063, 7794...  [1669402, 829180, 1696036, 479970, 834354, 103...
4  12899783  [{'aid': 255297, 'ts': 1661724000572, 'type': ...  [255297, 1114789, 255297, 300127, 198385, 3001...                                                 []                                                 []

## Salvando os Dados para Análise Descritiva

A classe de ETL da célula acima:
* ordena os eventos por tempo
* cria listas com cada tipo de evento para cada tipo de sessão

Para facilitar a manipulação dos dados durante a análise descritiva e desenvolvimento do modelo

In [11]:
from os.path import join
folder = "./data/transformed"

otto_dataset_etl.dataset.to_parquet(join(folder, "otto-transformed-train.parquet"))