# Trabalho Conclus√£o de Curso - Otto Group Product Classification Challenge

In [2]:
import pandas as pd
import json

In [3]:
otto_test_df = pd.read_json("./data/OTTO/otto-recsys-test.jsonl", lines=True)

In [4]:
pd.set_option("display.width", 500)
otto_test_df.head()

    session                                             events
0  12899779  [{'aid': 59625, 'ts': 1661724000278, 'type': '...
1  12899780  [{'aid': 1142000, 'ts': 1661724000378, 'type':...
2  12899781  [{'aid': 141736, 'ts': 1661724000559, 'type': ...
3  12899782  [{'aid': 1669402, 'ts': 1661724000568, 'type':...
4  12899783  [{'aid': 255297, 'ts': 1661724000572, 'type': ...

In [5]:
otto_test_df.session.unique().shape

(1671803,)

In [21]:
from operator import itemgetter


def sort_events(row: pd.Series) -> str:
    sequence = [event for event in row.events]
    return sorted(sequence, key=itemgetter("ts"))


def get_list_of_events(row: pd.Series):
    row["items_clicked"] = []
    row["items_carted"] = []
    row["items_ordered"] = []

    for event in row.sorted_events:
        event_type = event["type"]
        if event_type == "clicks":
            row["items_clicked"].append(event["aid"])
        elif event_type == "carts":
            row["items_carted"].append(event["aid"])
        elif event_type == "orders":
            row["items_ordered"].append(event["aid"])


def get_list_of_event_type(row: pd.Series, event_type: str = "clicks"):
    return [event["aid"] for event in row.events if event["type"] == event_type]


def get_list_of_clicks(row: pd.Series):
    return get_list_of_event_type(row, "clicks")


def get_list_of_orders(row: pd.Series):
    return get_list_of_event_type(row, "orders")


def get_list_of_carts(row: pd.Series):
    return get_list_of_event_type(row, "carts")


otto_test_df["sorted_events"] = otto_test_df.apply(sort_events, axis="columns")
otto_test_df.apply(get_list_of_events, axis="columns")
# otto_test_df["ordered_events"] = sorted(otto_test_df["events"].to_list(), key=itemgetter("ts"))
# events = otto_test_df[otto_test_df.index == 1]["events"]
# events
# otto_test_df.head()

0          None
1          None
2          None
3          None
4          None
           ...
1671798    None
1671799    None
1671800    None
1671801    None
1671802    None
Length: 1671803, dtype: object

In [2]:
otto_test_df.head()
otto_test_df["count_ordered_items"] = len(otto_test_df.items_ordered)

NameError: name 'otto_test_df' is not defined